<h1>{{ title }}</h1>
<form (ngSubmit)="onSubmit()" #myForm="ngForm">
	<fieldset class="form-group">
		<label for="login">Login:</label>
		<input type="text" id="login" name="login" [(ngModel)] = "formData.login" required>
	</fieldset>

	<fieldset class="form-group">
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" [(ngModel)] = "formData.password" required>
	</fieldset>

	<fieldset class="form-group">
		<label for="validation_password">Please re-enter your password:</label>
		<input type="password" id="validatino_password" name="validation_password" [(ngModel)] = "formData.validation_password" required>
	</fieldset>

	<button type="submit">Connexion</button>
</form>
