<h1>{{ title }}</h1>
<form (ngSubmit)="onSubmit()" #myForm="ngForm">
	<fieldset class="form-group">
		<label for="email">Email:</label>
		<input type="text" id="email" name="email" [(ngModel)] = "formData.email" required>
	</fieldset>
	<fieldset class="form-group">
		<label for="nom">Nom :</label>
		<input type="text" id="nom" name="nom" [(ngModel)] = "formData.nom" required>
	</fieldset>
	<fieldset class="form-group">
		<label for="prenom">Prénom :</label>
		<input type="text" id="prenom" name="prenom" [(ngModel)] = "formData.prenom" required>
	</fieldset>

	<fieldset class="form-group">
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" [(ngModel)] = "formData.password" required>
	</fieldset>

	<fieldset class="form-group">
		<label for="validation_password">Please re-enter your password:</label>
		<input type="password" id="validation_password" name="validation_password" [(ngModel)] = "formData.validation_password" required>
	</fieldset>

	<button type="submit">Connexion</button>
</form>